<div class="overlap-group-wrapper">
    <div class="overlap-group">
      <div class="text-wrapper">Coxas e Sobrecoxas de Frango Empanados</div> 
      <img class="FILEZINHO-EMPANADO-11" src="assets/FILEZINHO-EMPANADO-1kg-16.png" (click)="onClick15('/frango-coxa')" 
      @fadeIn [@imageClick]="animationState15" />    
      <p class="p">Iscas de Filé de Pangasius Empanados</p>
      <img class="mokapiscas-de-panga" src="assets/Empanadas.png" (click)="onClick2('/pangasius')" 
      @fadeIn [@imageClick]="animationState2" />
      <div class="text-wrapper-10">Lula Pops Empanados</div>
      <img class="lulapopsgrmokapf" src="assets/lulapops.png" (click)="onClick6('/lula')" 
      @fadeIn [@imageClick]="animationState6" />
      <div class="text-wrapper-4">Camarão Empanado</div>
      <img class="CAMARO-CINZA" src="assets/CAMARAO-CINZA-EMPANADO-1.png" (click)="onClick('/camarao-empanado')" 
      @fadeIn [@imageClick]="animationState" />
      <div class="text-wrapper-2">Porkitos Empanados</div>
      <img class="FILEZINHO-EMPANADO-5" src="assets/FILEZINHO-EMPANADO-1kg-8.png" (click)="onClick9('/porkitos')" 
      @fadeIn [@imageClick]="animationState9" />
      <div class="text-wrapper-8">Schnitzel Empanado</div>
      <img class="FILEZINHO-EMPANADO-7" src="assets/FILEZINHO-EMPANADO-1kg-12.png" (click)="onClick11('/schnitzel')" 
      @fadeIn [@imageClick]="animationState11" />
      <div class="text-wrapper-7">Filezinhos de Tilápia Empanados</div>
      <img class="FILEZINHO-EMPANADO-2" src="assets/FILEZINHO-EMPANADO-1kg-9.png" (click)="onClick5('/tilapia-file')" 
      @fadeIn [@imageClick]="animationState5" />
      <p class="text-wrapper-13">Iscas de Filé de Tilápia Empanados</p>
      <img class="FILEZINHO-EMPANADO-9" src="assets/FILEZINHO-EMPANADO-1kg-10.png" (click)="onClick13('/isca-tilapia')" 
      @fadeIn [@imageClick]="animationState13" />
      <p class="text-wrapper-9">Filés de Polaca do Alaska Empanados</p>
      <img class="FILEZINHO-EMPANADO-8" src="assets/FILEZINHO-EMPANADO-1kg-15.png" (click)="onClick12('/polaca')" 
      @fadeIn [@imageClick]="animationState12" />
      <div class="text-wrapper-5">Formados de Peixe Empanados</div>
      <img class="FORMADOS-DE-PEIXE" src="assets/FORMADOS-DE-PEIXE-700g-1.png" (click)="onClick4('/peixe')" 
      @fadeIn [@imageClick]="animationState4" />
      <p class="text-wrapper-15">Filezinhos de Frango Empanados</p>
      <img class="FILEZINHO-EMPANADO" src="assets/FILEZINHO-EMPANADO-1kg-1.png" (click)="onClick1('/frango-file')" 
        @fadeIn [@imageClick]="animationState1" />      
        <p class="text-wrapper-16">Filezinhos de Frango Levemente Apimentado</p>
        <img class="FILEZINHO-EMPANADO-12" src="assets/apimentado.png" (click)="onClick17('/frango-apimentado')" 
        @fadeIn [@imageClick]="animationState17" />
        <div class="text-wrapper-3">Steak de Frango Empanado</div>
        <img class="FILEZINHO-EMPANADO-6" src="assets/FILEZINHO-EMPANADO-1kg-11.png" (click)="onClick10('/frango-steak')" 
        @fadeIn [@imageClick]="animationState10" />
        <div class="text-wrapper-14">Tirinhas de Frango Empanados</div>
        <img class="FILEZINHO-EMPANADO-10" src="assets/FILEZINHO-EMPANADO-1kg-13.png" (click)="onClick14('/frango-tiras')" 
        @fadeIn [@imageClick]="animationState14" />
        <div class="text-wrapper-11">Chicken de Frango Empanado</div>
        <img class="FORMADOS-DE-PEIXE-2" src="assets/FORMADOS-DE-PEIXE-700g-2.png" (click)="onClick16('/frango')" 
        @fadeIn [@imageClick]="animationState16" />
      <p class="div">Chicken de Frango com Queijo Empanado</p>
      <img class="FILEZINHO-EMPANADO-4" src="assets/FILEZINHO-EMPANADO-1kg-2.png" (click)="onClick8('/frango-queijo')" 
      @fadeIn [@imageClick]="animationState8" />
      <p class="text-wrapper-12">Chicken de Frango com Queijo Cheddar Empanado</p>
      <img class="FILEZINHO-EMPANADO-3" src="assets/FILEZINHO-EMPANADO-1kg-4.png" (click)="onClick7('/frango-cheddar')" 
      @fadeIn [@imageClick]="animationState7" />
      <p class="text-wrapper-6">Chicken de Frango com Vegetais Empanado</p>
      <img class="img" src="assets/FILEZINHO-EMPANADO-1kg-3.png" (click)="onClick3('/frango-vegetais')"
      @fadeIn [@imageClick]="animationState3" />
    </div>
</div>
    


