.overlap-group-wrapper {
  background-color: #ffffff;
  width: 1080px;
  height: 1920px;
}

.overlap-group {
  position: relative;
  height: 1920px;
  background-image: url(../../../assets/fundo.png);
  background-size: cover;
  background-position: 50% 50%;
}

.CAMARO-CINZA {
  position: absolute;
  width: 170px;
  height: 197px;
  top: 581px;
  left: 134px;
  object-fit: cover;
}

.text-wrapper {
  position: absolute;
  width: 155px;
  top: 538px;
  left: 142px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.FILEZINHO-EMPANADO {
  position: absolute;
    width: 200px;
    height: 266px;
    top: 1059px;
    left: 445px;
    object-fit: cover;
}

.div {
  position: absolute;
    width: 160px;
    top: 1767px;
    left: 131px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-2 {
  position: absolute;
  width: 125px;
  height: 33px;
  top: 786px;
  left: 485px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-3 {
  position: absolute;
    width: 145px;
    top: 1545px;
    left: 138px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-4 {
  position: absolute;
    width: 125px;
    top: 786px;
    left: 155px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.p {
  position: absolute;
    width: 155px;
    top: 524px;
    left: 470px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.mokapiscas-de-panga {
  position: absolute;
    width: 200px;
    height: 230px;
    top: 317px;
    left: 451px;
    object-fit: cover;
}

.text-wrapper-5 {
  position: absolute;
  width: 145px;
  top: 1302px;
  left: 142px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-6 {
  position: absolute;
    width: 180px;
    top: 1767px;
    left: 780px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.img {
  position: absolute;
    width: 268px;
    height: 249px;
    top: 1557px;
    left: 727px;
}

.FORMADOS-DE-PEIXE {
  width: 180px;
    top: 1068px;
    left: 120px;
    object-fit: cover;
    position: absolute;
    height: 240px;
}

.text-wrapper-7 {
  position: absolute;
    width: 145px;
    top: 1043px;
    left: 148px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.FILEZINHO-EMPANADO-2 {
  position: absolute;
    width: 168px;
    height: 223px;
    top: 820px;
    left: 134px;
}

.text-wrapper-8 {
  position: absolute;
    width: 125px;
    height: 33px;
    top: 786px;
    left: 808px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-9 {
  position: absolute;
    width: 145px;
    top: 1028px;
    left: 798px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-10 {
  position: absolute;
    width: 145px;
    height: 33px;
    top: 538px;
    left: 795px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.lulapopsgrmokapf {
  position: absolute;
    width: 200px;
    height: 230px;
    top: 316px;
    left: 765px;
    object-fit: cover;
}

.text-wrapper-11 {
  width: 145px;
    top: 1544px;
    left: 797px;
    position: absolute;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-12 {
  width: 185px;
  top: 1767px;
  left: 450px;
  position: absolute;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.FILEZINHO-EMPANADO-3 {
  position: absolute;
    width: 174px;
    height: 217px;
    top: 1577px;
    left: 461px;
}

.text-wrapper-13 {
  position: absolute;
    width: 145px;
    top: 1028px;
    left: 470px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-14 {
  position: absolute;
  width: 145px;
  top: 1544px;
  left: 471px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-15 {
  position: absolute;
  width: 155px;
  top: 1290px;
  left: 467px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  }

.text-wrapper-16 {
  position: absolute;
    width: 185px;
    top: 1288px;
    left: 777px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
    
.FILEZINHO-EMPANADO-4 {
  position: absolute;
    width: 204px;
    height: 220px;
    top: 1568px;
    left: 110px;
}

.FILEZINHO-EMPANADO-5 {
  position: absolute;
  width: 195px;
  height: 234px;
  top: 560px;
  left: 446px;
}

.FILEZINHO-EMPANADO-6 {
  position: absolute;
  width: 212px;
  height: 191px;
  top: 1345px;
  left: 110px;
  object-fit: cover;
}

.FILEZINHO-EMPANADO-7 {
  position: absolute;
    width: 169px;
    height: 228px;
    top: 568px;
    left: 780px;
    object-fit: cover;
}

.FILEZINHO-EMPANADO-8 {
  position: absolute;
  width: 188px;
  height: 240px;
  top: 810px;
  left: 775px;
}

.FILEZINHO-EMPANADO-9 {
  position: absolute;
  width: 198px;
  height: 235px;
  top: 815px;
  left: 444px;
}

.FILEZINHO-EMPANADO-10 {
  position: absolute;
    width: 212px;
    height: 192px;
    top: 1345px;
    left: 441px;
    object-fit: cover;
}

.FILEZINHO-EMPANADO-11 {
  position: absolute;
    width: 200px;
    height: 230px;
    top: 319px;
    left: 125px;
}

.FILEZINHO-EMPANADO-12 {
  position: absolute;
    width: 203px;
    height: 275px;
    top: 1058px;
    left: 767px;
}

.FORMADOS-DE-PEIXE-2 {
  width: 197px;
    top: 1301px;
    left: 775px;
    position: absolute;
    height: 253px;
}
