<div class="overlap-group-wrapper">
    <div class="overlap-group">
      <img class="CAMARO-CINZA" src="assets/CAMARAO-CINZA-EMPANADO-1.png" [routerLink]="['/camarao-empanado']" />
      <div class="overlap">
        <div class="text-wrapper">Filezinhos de frango empanados</div>
        <img class="FILEZINHO-EMPANADO" src="assets/FILEZINHO-EMPANADO-1kg-1.png" [routerLink]="['/']" />
      </div>
      <p class="div">Chicken de frango com queijo empanado</p>
      <div class="text-wrapper-2">Porkitos Empanados</div>
      <div class="text-wrapper-3">Steak de frango empanado</div>
      <div class="text-wrapper-4">Camarão empanado</div>
      <div class="overlap-2">
        <p class="p">Iscas de filé de pangasius empanados</p>
        <img class="mokapiscas-de-panga" src="assets/Empanadas.png" [routerLink]="['/']" />
      </div>
      <div class="overlap-3">
        <div class="text-wrapper-5">Formados de peixe empanados</div>
        <p class="text-wrapper-6">Chicken de frango com vegetais empanado</p>
        <img class="img" src="assets/FILEZINHO-EMPANADO-1kg-3.png" [routerLink]="['/']" />
        <img class="FORMADOS-DE-PEIXE" src="assets/FORMADOS-DE-PEIXE-700g-1.png" [routerLink]="['/']" />
      </div>
      <div class="overlap-4">
        <div class="text-wrapper-7">Filezinhos de tilápia empanados</div>
        <img class="FILEZINHO-EMPANADO-2" src="assets/FILEZINHO-EMPANADO-1kg-9.png" [routerLink]="['/']" />
      </div>
      <div class="text-wrapper-8">Schnitzel empanado</div>
      <div class="overlap-5">
        <p class="text-wrapper-9">Filés de polaca do Alaska empanados</p>
        <div class="text-wrapper-10">Lula Pops empanados</div>
        <img class="lulapopsgrmokapf" src="assets/lulapops.png" [routerLink]="['/']" />
      </div>
      <div class="text-wrapper-11">Chicken de frango empanado</div>
      <div class="overlap-6">
        <p class="text-wrapper-12">Chicken de frango com queijo chedar empanado</p>
        <img class="FILEZINHO-EMPANADO-3" src="assets/FILEZINHO-EMPANADO-1kg-4.png" [routerLink]="['/']" />
      </div>
      <p class="text-wrapper-13">Iscas de filé de tilápia empanados</p>
      <div class="text-wrapper-14">Tirinhas de frango empanados</div>
      <p class="text-wrapper-15">Coxas e sobrecoxas de frango empanados</p>
      <img class="FILEZINHO-EMPANADO-4" src="assets/FILEZINHO-EMPANADO-1kg-2.png" [routerLink]="['/']" />
      <img class="FILEZINHO-EMPANADO-5" src="assets/FILEZINHO-EMPANADO-1kg-8.png" [routerLink]="['/']" />
      <img class="FILEZINHO-EMPANADO-6" src="assets/FILEZINHO-EMPANADO-1kg-11.png" [routerLink]="['/']" />
      <img class="FILEZINHO-EMPANADO-7" src="assets/FILEZINHO-EMPANADO-1kg-12.png" [routerLink]="['/']" />
      <img class="FILEZINHO-EMPANADO-8" src="assets/FILEZINHO-EMPANADO-1kg-15.png" [routerLink]="['/']" />
      <img class="FILEZINHO-EMPANADO-9" src="assets/FILEZINHO-EMPANADO-1kg-10.png" [routerLink]="['/']" />
      <img class="FILEZINHO-EMPANADO-10" src="assets/FILEZINHO-EMPANADO-1kg-13.png" [routerLink]="['/']" />
      <img class="FILEZINHO-EMPANADO-11" src="assets/FILEZINHO-EMPANADO-1kg-16.png" [routerLink]="['/']" />
      <img class="FORMADOS-DE-PEIXE-2" src="assets/FORMADOS-DE-PEIXE-700g-2.png" [routerLink]="['/']" />
    </div>
</div>
    


