<div class="overlap-group-wrapper">
    <div class="overlap-group">
      <img class="CAMARO-CINZA" src="assets/CAMARAO-CINZA-EMPANADO-1.png" [routerLink]="['/camarao-empanado']" />
      <div class="overlap">
        <div class="text-wrapper">Filezinhos de Frango Empanados</div>
        <img class="FILEZINHO-EMPANADO" src="assets/FILEZINHO-EMPANADO-1kg-1.png" [routerLink]="['/frango-file']" />
      </div>
      <p class="div">Chicken de Frango com Queijo Empanado</p>
      <div class="text-wrapper-2">Porkitos Empanados</div>
      <div class="text-wrapper-3">Steak de Frango Empanado</div>
      <div class="text-wrapper-4">Camarão Empanado</div>
      <div class="overlap-2">
        <p class="p">Iscas de Filé de Pangasius Empanados</p>
        <img class="mokapiscas-de-panga" src="assets/Empanadas.png" [routerLink]="['/pangasius']" />
      </div>
      <div class="overlap-3">
        <div class="text-wrapper-5">Formados de Peixe Empanados</div>
        <p class="text-wrapper-6">Chicken de Frango com Vegetais Empanado</p>
        <img class="img" src="assets/FILEZINHO-EMPANADO-1kg-3.png" [routerLink]="['/frango-vegetais']" />
        <img class="FORMADOS-DE-PEIXE" src="assets/FORMADOS-DE-PEIXE-700g-1.png" [routerLink]="['/peixe']" />
      </div>
      <div class="overlap-4">
        <div class="text-wrapper-7">Filezinhos de Tilápia Empanados</div>
        <img class="FILEZINHO-EMPANADO-2" src="assets/FILEZINHO-EMPANADO-1kg-9.png" [routerLink]="['/tilapia-file']" />
      </div>
      <div class="text-wrapper-8">Schnitzel Empanado</div>
      <div class="overlap-5">
        <p class="text-wrapper-9">Filés de Polaca do Alaska Empanados</p>
        <div class="text-wrapper-10">Lula Pops Empanados</div>
        <img class="lulapopsgrmokapf" src="assets/lulapops.png" [routerLink]="['/lula']" />
      </div>
      <div class="text-wrapper-11">Chicken de Frango Empanado</div>
      <div class="overlap-6">
        <p class="text-wrapper-12">Chicken de Frango com Queijo Cheddar Empanado</p>
        <img class="FILEZINHO-EMPANADO-3" src="assets/FILEZINHO-EMPANADO-1kg-4.png" [routerLink]="['/frango-cheddar']" />
      </div>
      <p class="text-wrapper-13">Iscas de Filé de Tilápia Empanados</p>
      <div class="text-wrapper-14">Tirinhas de Frango Empanados</div>
      <p class="text-wrapper-15">Coxas e Sobrecoxas de Frango Empanados</p>
      <img class="FILEZINHO-EMPANADO-4" src="assets/FILEZINHO-EMPANADO-1kg-2.png" [routerLink]="['/frango-queijo']" />
      <img class="FILEZINHO-EMPANADO-5" src="assets/FILEZINHO-EMPANADO-1kg-8.png" [routerLink]="['/porkitos']" />
      <img class="FILEZINHO-EMPANADO-6" src="assets/FILEZINHO-EMPANADO-1kg-11.png" [routerLink]="['/frango-steak']" />
      <img class="FILEZINHO-EMPANADO-7" src="assets/FILEZINHO-EMPANADO-1kg-12.png" [routerLink]="['/schnitzel']" />
      <img class="FILEZINHO-EMPANADO-8" src="assets/FILEZINHO-EMPANADO-1kg-15.png" [routerLink]="['/polaca']" />
      <img class="FILEZINHO-EMPANADO-9" src="assets/FILEZINHO-EMPANADO-1kg-10.png" [routerLink]="['/isca-tilapia']" />
      <img class="FILEZINHO-EMPANADO-10" src="assets/FILEZINHO-EMPANADO-1kg-13.png" [routerLink]="['/frango-tiras']" />
      <img class="FILEZINHO-EMPANADO-11" src="assets/FILEZINHO-EMPANADO-1kg-16.png" [routerLink]="['/frango-coxa']" />
      <img class="FORMADOS-DE-PEIXE-2" src="assets/FORMADOS-DE-PEIXE-700g-2.png" [routerLink]="['/frango']" />
    </div>
</div>
    


