.overlap-group-wrapper {
  background-color: #bf9268;
  width: 1080px;
  height: 1920px;
}

.overlap-group {
  position: relative;
  height: 1920px;
}

.fundo {
  position: absolute;
  width: 1078px;
  height: 1920px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.voltar {
  position: absolute;
    width: 300px;
    height: 100px;
    top: 200px;
    left: 90px;
    object-fit: cover;
}

.prato-camaro {
  position: absolute;
  width: 1080px;
  height: 905px;
  top: 1015px;
  left: 0;
  object-fit: cover;
}

.FICHA-TCNICA-camaro {
  position: absolute;
  width: 540px;
  height: 764px;
  top: 196px;
  left: 449px;
  object-fit: cover;
}

.CAMARO-CINZA {
  position: absolute;
  width: 312px;
  height: 362px;
  top: 397px;
  left: 77px;
  object-fit: cover;
}

button {
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  top: 162px;
  left: 913px;
}

mat-icon {
  margin-right: 8px; /* Adiciona um pequeno espaço entre o ícone e a palavra */
}