<div class="overlap-group-wrapper">
  <div class="overlap-group">
    <img class="fundo" src="assets/fundo-1.png" />
    <img class="voltar" src="assets/botao-voltar.png" [routerLink]="['/inicio']" @fadeIn />
    <img class="prato-camaro" src="assets/camarao/prato.png" @fadeIn />
    <img class="FICHA-TCNICA-camaro" src="assets/camarao/ficha.jpg" @fadeIn />
    <button mat-icon-button class="zoom-button" [routerLink]="['/camarao-ficha']">
      <mat-icon>open_in_full</mat-icon>
      ZOOM
    </button>
    <img class="CAMARO-CINZA" src="assets/camarao/foto.png" @fadeIn />
  </div>
</div>
