.overlap-group-wrapper {
  background-color: #bf9268;
  width: 1080px;
  height: 1920px;
}

.overlap-group {
  position: relative;
  height: 1920px;
}

.fundo {
  position: absolute;
  width: 1078px;
  height: 1920px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.voltar {
  position: absolute;
    width: 300px;
    height: 100px;
    top: 200px;
    left: 90px;
    object-fit: cover;
}

.prato-camaro {
  position: absolute;
  width: 1080px;
  height: 905px;
  top: 1015px;
  left: 0;
  object-fit: cover;
}

.FICHA-TCNICA-camaro {
  position: absolute;
  width: 540px;
  height: 764px;
  top: 196px;
  left: 449px;
  object-fit: cover;
}

.CAMARO-CINZA {
  position: absolute;
  width: 312px;
  height: 362px;
  top: 397px;
  left: 77px;
  object-fit: cover;
}

.zoom-button {
  position: absolute;
    top: 153px;
    left: 890px;
    background-color: #f48c2c;
    color: white;
    border-radius: 10px;
    padding: 10px 50px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;        
}

/* Mudar a cor de fundo para um tom mais escuro no hover, opcional */
.zoom-button:hover {
  background-color: #db7b1b;
}

/* Estilos para o ícone */
.zoom-button .mat-icon {
  vertical-align: middle;
}

.zoom-button-2 {
  position: absolute;
    top: 365px;
    left: 260px;
    background-color: #f48c2c;
    color: white;
    border-radius: 10px;
    padding: 10px 50px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;      
}

/* Mudar a cor de fundo para um tom mais escuro no hover, opcional */
.zoom-button-2:hover {
  background-color: #db7b1b;
}

/* Estilos para o ícone */
.zoom-button-2 .mat-icon {
  vertical-align: middle;
}